@media screen and (max-width: 1280px) {
  /* Header  */
  .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-header {
    width: 100%;
  }

  .header-brand h1 {
    font-size: 1.5rem;
  }

  .contact-icon {
    margin-right: 20px;
  }

  /* Main content */
  main {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-top: 80px;
    width: 96%;
  }

  section {
    width: 80%;
    max-width: 800px;
    margin: 10px 0;
  }

  /* Todo list adjustments */
  .todo-card {
    width: 100%;
    max-width: 505px;
  }

  .todo-card h2 {
    font-size: 1.3rem;
  }

  .task-input {
    width: 100%;
    margin: 20px 0;
  }

  .task-input input {
    font-size: 0.9rem;
  }

  /* Pomodoro adjustments */
  .podomoro-card {
    width: 100%;
  }

  .podomoro-header h1 {
    font-size: 1.3rem;
  }

  .podomoro-header-buttons {
    gap: 15px;
  }

  .podomoro-header-buttons button,
  .podomoro-footer button,
  .custom-timer-input button,
  input#customMinutes {
    padding: 10px 20px;
    font-size: 0.9rem;
  }

  /* Footer */
  footer {
    margin-top: 20px;
    padding: 15px 0;
  }
}

@media screen and (max-width: 1024px) {
  /* Header  */
  .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-header {
    width: 100%;
  }

  .header-brand h1 {
    font-size: 1rem;
  }

  /* Main content */
  main {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 80px;
    width: 95%;
  }

  section {
    width: 80%;
    max-width: 800px;
    margin: 10px 0;
  }

  /* Todo list adjustments */
  .todo-card {
    width: 100%;
    max-width: 560px;
  }

  .todo-card h2 {
    font-size: 1.3rem;
  }

  .task-input {
    width: 100%;
    margin: 20px 0;
  }

  .task-input input {
    font-size: 0.9rem;
  }

  /* Pomodoro adjustments */
  .podomoro-card {
    width: 100%;
  }

  .podomoro-header h1 {
    font-size: 1.3rem;
  }

  .podomoro-header-buttons {
    gap: 15px;
  }

  .podomoro-header-buttons button,
  .podomoro-footer button,
  .custom-timer-input button,
  input#customMinutes {
    padding: 10px 20px;
    font-size: 0.9rem;
  }

  /* Footer */
  footer {
    margin-top: 20px;
    padding: 15px 0;
  }
}

@media screen and (max-width: 768px) {
  /* Header  */
  .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-controls {
    margin-left: 0;
    margin-right: 10px;
    order: -1;
  }
  .main-header {
    width: 100%;
  }

  .header-brand h1 {
    font-size: 1.5rem;
  }

  .header-quote {
    margin: 0 10px;
    max-width: 50%;
    flex: 0.5;
  }

  .header-quote p {
    font-size: 0.8rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .contact-icon {
    padding-right: 0px;
  }

  .contact-link {
    display: flex;
    align-items: center;
    margin-right: 8px;
  }

  .contact-link img {
    width: 30px;
    height: 30px;
    display: block;
  }

  .contact-text {
    display: none;
  }

  .contact-text {
    display: none;
  }

  /* Main content */
  main {
    flex-direction: column;
    padding: 25px;
    margin-top: 70px;
    width: 95%;
  }

  section {
    /* width: 100%; */
    margin: 30px;
  }

  /* Todo list adjustments */
  .todo-card {
    width: 100%;
    max-width: 520px;
  }

  .todo-card h2 {
    font-size: 1.3rem;
  }

  .task-input {
    width: 100%;
    margin: 20px 0;
  }

  .task-input input {
    font-size: 0.9rem;
  }

  /* Pomodoro adjustments */
  .podomoro-card {
    width: 100%;
  }

  .podomoro-header h1 {
    font-size: 1.3rem;
  }

  .podomoro-header-buttons {
    gap: 15px;
  }

  .podomoro-header-buttons button,
  .podomoro-footer button,
  .custom-timer-input button,
  input#customMinutes {
    padding: 8px 16px;
    font-size: 0.85rem;
  }

  /* Spotify sidebar */
  .spotify-sidebar {
    width: 300px;
    right: -300px;
  }

  .spotify-sidebar.open {
    width: 300px;
  }

  .sidebar-content {
    padding: 15px;
  }

  /* Footer */
  footer {
    font-size: 0.7rem;
    padding: 20px 0px;
  }
}

@media screen and (max-width: 420px) {
  /* header */
  .main-header {
    width: 100%;
  }

  .header-nav {
    width: 100%;
    justify-content: space-between;
    display: flex;
  }

  .header-controls {
    margin-left: 20px;
  }

  .header-brand h1 {
    font-size: 1.2rem;
  }

  .header-quote {
    display: none;
  }

  .contact-text {
    display: none;
  }

  .spotify-sidebar {
    width: 100%;
    right: -100%;
  }

  .spotify-sidebar.open {
    width: 100%;
    right: 0;
  }

  .sidebar-content {
    padding: 10px;
  }

  #sidebar.open {
    width: 200px;
  }

  #sidebar h2 {
    margin: auto;
    font-size: 1rem;
  }

  #sidebar .close-btn {
    top: -5px;
    right: -5px;
    font: 1rem;
  }

  /* main */
  main {
    flex-direction: column;
    padding: 30px;
    margin-top: 60px;
    width: 80%;
  }

  section {
    width: 100%;
    margin: 10px auto;
    padding: 15px;
  }

  #todo-list {
    margin-bottom: 20px;
    width: 100%;
  }

  #podomoro-timer {
    margin-top: 0;
  }

  .todo-card,
  .podomoro-card {
    width: 100%;
    margin: 0;
    padding: 0px;
  }

  .todo-card h2 {
    margin-left: 20px;
    padding-top: 20px;
  }

  .podomoro-header-buttons button,
  .custom-timer-input button {
    padding: 8px 15px;
  }

  input#customMinutes {
    width: 70%;
    padding: 7px 2px;
    font-size: 0.7rem;
  }

  .podomoro-footer {
    padding: 8px 15px;
    gap: 30px;
  }

  .task-input {
    width: 90%;
    margin: 15px 0;
    display: flex;
    padding: 5px 10px;
    margin-left: 10px;
  }

  .task-input input {
    width: 100%;
    padding: 8px 10px;
    font-size: 0.8rem;
  }

  .task-input button {
    padding: 8px 15px;
    margin-left: 5px;
  }

  #list-container {
    padding: 0 10px;
  }

  /* footer */
  footer {
    font-size: 0.6rem;
  }

  footer p {
    margin: -15px;
  }
}

@media screen and (max-width: 360px) {
  /* header */
  .main-header {
    width: 100%;
  }
  .header-brand h1 {
    font-size: 1rem;
  }

  .header-quote {
    display: none;
  }

  .contact-text {
    display: none;
  }

  .contact-icon {
    width: auto;
    margin-left: 10px;
  }

  .spotify-sidebar {
    width: 100%;
    right: -100%;
  }

  .spotify-sidebar.open {
    width: 100%;
    right: 0;
  }

  .sidebar-content {
    padding: 10px;
  }

  #sidebar.open {
    width: 200px;
  }

  #sidebar h2 {
    margin: auto;
    font-size: 1rem;
  }

  #sidebar .close-btn {
    top: -5px;
    right: -5px;
    font: 1rem;
  }

  /* main */
  main {
    flex-direction: column;
    padding: 10px;
    margin-top: 65px;
    width: 80%;
    margin-left: 8px;
  }

  section {
    width: 100%;
    margin: 8px auto;
    padding: 10px;
  }

  .todo-card {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    padding: 10px 5px;
  }

  #todo-list {
    margin-bottom: 20px;
    width: 100%;
  }

  #pomodoro-timer {
    margin-top: 0;
  }

  .podomoro-card {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    padding: 10px 5px;
  }

  .podomoro-header h1 img {
    padding: 0;
  }

  .podomoro-header-buttons {
    padding: 10px 15px;
    font-size: 0.5rem;
  }

  .podomoro-header-buttons button {
    padding: 5px 6px;
    font-size: 0.8rem;
  }

  input#customMinutes {
    width: 70px;
    padding: 4px 6px;
    font-size: 0.6rem;
    margin-right: 5px;
  }

  .custom-timer-input {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-right: 10px;
  }

  .podomoro-footer {
    padding: 10px 3px;
    gap: 20px;
  }

  .todo-card {
    width: 100%;
    margin: 0;
    padding: 0px;
    padding-bottom: 10px;
  }

  .todo-card h2 {
    margin-left: 20px;
    padding-top: 20px;
  }

  .task-input {
    width: 86%;
    margin: 15px 0;
    display: flex;
    padding: 5px 10px;
    margin-left: 10px;
  }

  .task-input input {
    width: 100%;
    padding: 8px 10px;
    font-size: 0.8rem;
  }

  .task-input button {
    padding: 8px 15px;
    margin-left: 5px;
  }

  #list-container {
    padding: 0 10px;
  }

  /* footer */
  footer {
    font-size: 0.6rem;
  }

  footer p {
    margin-top: 0px;
    padding: 15px;
  }
}
